.ipynb_checkpoints
*.DS_Store
*.DS_Store?
.idea
.idea/
Data/MovieSummaries/src/data/movie_data_from_tmdb.pkl
movie_data_from_tmdb.pkl
movie_data_from_tmdb_only_id.pkl
Data/MovieSummaries/plot_summaries.txt
